db.sqlite3
spme/__pycache__/__init__.cpython-313.pyc
spme/__pycache__/settings.cpython-313.pyc
spme/__pycache__/urls.cpython-313.pyc
spme/__pycache__/wsgi.cpython-313.pyc
spme/common/__pycache__/MessageManager.cpython-313.pyc
spme_actividades/tests.py
spme_actividades/__pycache__/__init__.cpython-313.pyc
spme_actividades/__pycache__/admin.cpython-313.pyc
spme_actividades/__pycache__/apps.cpython-313.pyc
spme_actividades/__pycache__/models.cpython-313.pyc
spme_actividades/__pycache__/urls.cpython-313.pyc
spme_actividades/__pycache__/views.cpython-313.pyc
spme_actividades/common/__pycache__/MessageManager.cpython-313.pyc
spme_actividades/container/__pycache__/dataAccessContainer.cpython-313.pyc
spme_actividades/container/__pycache__/presenterContainer.cpython-313.pyc
spme_actividades/container/__pycache__/repositoryContainer.cpython-313.pyc
spme_actividades/container/__pycache__/useCaseContainer.cpython-313.pyc
spme_actividades/dataaccess/__pycache__/actividadesDataAccess.cpython-313.pyc
spme_actividades/domain/models/request/__pycache__/actividadesRequest.cpython-313.pyc
spme_actividades/domain/models/response/__pycache__/actividadesResponse.cpython-313.pyc
spme_actividades/domain/repositories/__pycache__/actividadesRespository.cpython-313.pyc
spme_actividades/domain/usecases/__pycache__/crearActividadUseCase.cpython-313.pyc
spme_actividades/domain/usecases/__pycache__/obtenerActividadesUsuarioUseCase.cpython-313.pyc
spme_actividades/mappers/__pycache__/actividadesMapper.cpython-313.pyc
spme_actividades/migrations/0001_initial.py
spme_actividades/migrations/__pycache__/__init__.cpython-313.pyc
spme_actividades/migrations/__pycache__/0001_initial.cpython-313.pyc
spme_actividades/presenters/__pycache__/actividadesPresenter.cpython-313.pyc
spme_api/__pycache__/__init__.cpython-313.pyc
spme_api/__pycache__/admin.cpython-313.pyc
spme_api/__pycache__/apps.cpython-313.pyc
spme_api/__pycache__/models.cpython-313.pyc
spme_api/__pycache__/urls.cpython-313.pyc
spme_api/__pycache__/views.cpython-313.pyc
spme_api/container/__pycache__/presenterContainer.cpython-313.pyc
spme_api/container/__pycache__/useCaseContainer.cpython-313.pyc
spme_api/dataaccess/__pycache__/__init__.cpython-313.pyc
spme_api/dataaccess/__pycache__/libroDataAccess.cpython-313.pyc
spme_api/domain/__pycache__/__init__.cpython-313.pyc
spme_api/domain/models/request/__pycache__/libroRequest.cpython-313.pyc
spme_api/domain/models/response/__pycache__/libroResponse.cpython-313.pyc
spme_api/domain/repositories/__pycache__/__init__.cpython-313.pyc
spme_api/domain/repositories/__pycache__/libroRepository.cpython-313.pyc
spme_api/domain/usecases/__pycache__/__init__.cpython-313.pyc
spme_api/domain/usecases/__pycache__/getLibroUseCase.cpython-313.pyc
spme_api/mappers/__pycache__/libroMapper.cpython-313.pyc
spme_api/migrations/0001_initial.py
spme_api/migrations/__pycache__/__init__.cpython-313.pyc
spme_api/migrations/__pycache__/0001_initial.cpython-313.pyc
spme_api/presenters/__pycache__/libroPresenter.cpython-313.pyc
spme_autenticacion/__pycache__/__init__.cpython-313.pyc
spme_autenticacion/__pycache__/admin.cpython-313.pyc
spme_autenticacion/__pycache__/apps.cpython-313.pyc
spme_autenticacion/__pycache__/models.cpython-313.pyc
spme_autenticacion/__pycache__/urls.cpython-313.pyc
spme_autenticacion/__pycache__/views.cpython-313.pyc
spme_autenticacion/common/__pycache__/MessageManager.cpython-313.pyc
spme_autenticacion/container/__pycache__/dataAccessContainer.cpython-313.pyc
spme_autenticacion/container/__pycache__/presenterContainer.cpython-313.pyc
spme_autenticacion/container/__pycache__/repositoryContainer.cpython-313.pyc
spme_autenticacion/container/__pycache__/useCaseContainer.cpython-313.pyc
spme_autenticacion/dataaccess/__pycache__/userDataAccess.cpython-313.pyc
spme_autenticacion/domain/models/request/__pycache__/userRequest.cpython-313.pyc
spme_autenticacion/domain/models/response/__pycache__/userResponse.cpython-313.pyc
spme_autenticacion/domain/repositories/__pycache__/userRepository.cpython-313.pyc
spme_autenticacion/domain/usecases/__pycache__/getUserUseCase.cpython-313.pyc
spme_autenticacion/domain/usecases/__pycache__/userUseCase.cpython-313.pyc
spme_autenticacion/mappers/__pycache__/userMapper.cpython-313.pyc
spme_autenticacion/migrations/0001_initial.py
spme_autenticacion/migrations/0002_usuario_permisos.py
spme_autenticacion/migrations/0003_usuario_banco_usuario_cargo_usuario_ci_and_more.py
spme_autenticacion/migrations/__pycache__/__init__.cpython-313.pyc
spme_autenticacion/migrations/__pycache__/0001_initial.cpython-313.pyc
spme_autenticacion/migrations/__pycache__/0002_usuario_permisos.cpython-313.pyc
spme_autenticacion/migrations/__pycache__/0003_usuario_banco_usuario_cargo_usuario_ci_and_more.cpython-313.pyc
spme_autenticacion/presenters/__pycache__/usuarioPresenter.cpython-313.pyc
spme_estructuracion_pei/__pycache__/__init__.cpython-313.pyc
spme_estructuracion_pei/__pycache__/admin.cpython-313.pyc
spme_estructuracion_pei/__pycache__/apps.cpython-313.pyc
spme_estructuracion_pei/__pycache__/models.cpython-313.pyc
spme_estructuracion_pei/__pycache__/urls.cpython-313.pyc
spme_estructuracion_pei/__pycache__/views.cpython-313.pyc
spme_estructuracion_pei/common/__pycache__/MessageManager.cpython-313.pyc
spme_estructuracion_pei/container/__pycache__/dataAccessContainer.cpython-313.pyc
spme_estructuracion_pei/container/__pycache__/presenterContainer.cpython-313.pyc
spme_estructuracion_pei/container/__pycache__/repositoryContainer.cpython-313.pyc
spme_estructuracion_pei/container/__pycache__/useCaseContainer.cpython-313.pyc
spme_estructuracion_pei/dataaccess/__pycache__/estructuraPeiDataAccess.cpython-313.pyc
spme_estructuracion_pei/domain/models/request/__pycache__/estructuracionPeiRequest.cpython-313.pyc
spme_estructuracion_pei/domain/models/request/__pycache__/userRequest.cpython-313.pyc
spme_estructuracion_pei/domain/models/response/__pycache__/estructuracionPeiResponse.cpython-313.pyc
spme_estructuracion_pei/domain/models/response/__pycache__/userResponse.cpython-313.pyc
spme_estructuracion_pei/domain/repositories/__pycache__/estructuraPeiRepository.cpython-313.pyc
spme_estructuracion_pei/domain/repositories/__pycache__/userRepository.cpython-313.pyc
spme_estructuracion_pei/domain/usecases/__pycache__/crearEstructuraPeiUseCase.cpython-313.pyc
spme_estructuracion_pei/domain/usecases/__pycache__/getUserUseCase.cpython-313.pyc
spme_estructuracion_pei/mappers/__pycache__/estructuracionPeiMapper.cpython-313.pyc
spme_estructuracion_pei/mappers/__pycache__/userMapper.cpython-313.pyc
spme_estructuracion_pei/migrations/0001_initial.py
spme_estructuracion_pei/migrations/__pycache__/__init__.cpython-313.pyc
spme_estructuracion_pei/migrations/__pycache__/0001_initial.cpython-313.pyc
spme_estructuracion_pei/presenters/__pycache__/estructuracionPeiPresenter.cpython-313.pyc
spme_estructuracion_pei/presenters/__pycache__/usuarioPresenter.cpython-313.pyc
spme_monitoreo/__init__.py
spme_monitoreo/admin.py
spme_monitoreo/apps.py
spme_monitoreo/tests.py
spme_monitoreo/__pycache__/__init__.cpython-313.pyc
spme_monitoreo/__pycache__/admin.cpython-313.pyc
spme_monitoreo/__pycache__/apps.cpython-313.pyc
spme_monitoreo/__pycache__/models.cpython-313.pyc
spme_monitoreo/__pycache__/urls.cpython-313.pyc
spme_monitoreo/__pycache__/views.cpython-313.pyc
spme_monitoreo/container/__pycache__/dataAccessContainer.cpython-313.pyc
spme_monitoreo/container/__pycache__/presenterContainer.cpython-313.pyc
spme_monitoreo/container/__pycache__/repositoryContainer.cpython-313.pyc
spme_monitoreo/container/__pycache__/useCaseContainer.cpython-313.pyc
spme_monitoreo/dataaccess/__pycache__/rendicionCuentasDataAccess.cpython-313.pyc
spme_monitoreo/dataaccess/__pycache__/solicitudFondosDataAccess.cpython-313.pyc
spme_monitoreo/dataaccess/__pycache__/solicitudReembolsoDataAccess.cpython-313.pyc
spme_monitoreo/domain/models/request/__pycache__/rendicionCuentasRequest.cpython-313.pyc
spme_monitoreo/domain/models/request/__pycache__/solicitudFondosRequest.cpython-313.pyc
spme_monitoreo/domain/models/request/__pycache__/solicitudReembolsoRequest.cpython-313.pyc
spme_monitoreo/domain/models/response/__pycache__/rendicionCuentasResponse.cpython-313.pyc
spme_monitoreo/domain/models/response/__pycache__/solicitudFondosResponse.cpython-313.pyc
spme_monitoreo/domain/models/response/__pycache__/solicitudReembolsoResponse.cpython-313.pyc
spme_monitoreo/domain/repositories/__pycache__/rendicionCuentasRepository.cpython-313.pyc
spme_monitoreo/domain/repositories/__pycache__/solicitudFondosRepository.cpython-313.pyc
spme_monitoreo/domain/repositories/__pycache__/solicitudReembolsoRepository.cpython-313.pyc
spme_monitoreo/domain/usecases/__pycache__/rendicionCuentasUseCase.cpython-313.pyc
spme_monitoreo/domain/usecases/__pycache__/solicitudFondosUseCase.cpython-313.pyc
spme_monitoreo/domain/usecases/__pycache__/solicitudReembolsoUseCase.cpython-313.pyc
spme_monitoreo/mappers/__pycache__/monitoreoMapper.cpython-313.pyc
spme_monitoreo/migrations/__init__.py
spme_monitoreo/migrations/0001_initial.py
spme_monitoreo/migrations/0002_rendicioncuentas.py
spme_monitoreo/migrations/0003_solicitudreembolso.py
spme_monitoreo/migrations/__pycache__/__init__.cpython-313.pyc
spme_monitoreo/migrations/__pycache__/0001_initial.cpython-313.pyc
spme_monitoreo/migrations/__pycache__/0002_rendicioncuentas.cpython-313.pyc
spme_monitoreo/migrations/__pycache__/0003_solicitudreembolso.cpython-313.pyc
spme_monitoreo/presenter/__pycache__/monitoreoPresenter.cpython-313.pyc
spme_monitoreo/presenter/__pycache__/solicitudFondosPresenter.cpython-313.pyc
spme_web/__pycache__/__init__.cpython-313.pyc
spme_web/__pycache__/admin.cpython-313.pyc
spme_web/__pycache__/apps.cpython-313.pyc
spme_web/__pycache__/models.cpython-313.pyc
spme_web/__pycache__/urls.cpython-313.pyc
spme_web/__pycache__/views.cpython-313.pyc
spme_web/migrations/__pycache__/__init__.cpython-313.pyc
spme_web/migrations/__pycache__/0001_initial.cpython-313.pyc

# Ignorar directorios de cache de Python
__pycache__/

# Ignorar archivos compilados de Python
*.pyc

# Ignorar todos los archivos de migracion
*/migrations/[0-9]*.py

# Exceptuar el archivo __init__.py en los directorios de migraciones
!*/migrations/__init__.py
